body {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0;
    font-family: "Andale Mono", monospace
}

#side-panel {
    background: purple;
    color: white;

    display: grid;
    grid-template-rows: 33% 33% 33%;
}

#headshot {
    width: 100%;
    height: 100%;
}

#contact-container {
    display: grid;
    grid-template-rows: 20% 40% 40%;
    justify-content: center;
}

#contact-contents {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 33% 33% 33%;
}

#education-container {
    display: grid;
    grid-template-rows: 15% 50% 35%;
    justify-content: center;
}

#education-content {
    display: grid;
    grid-template-columns: 15% 85%;    
}

#main-content {
    margin: 15px;
}

div#main-content>h2{
    color:purple;
}


