body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
}

#side-panel {
    background: purple;
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: max-content;
}

#filtered-image {
    background: purple;
    width: 400px;
    height: 500px;
}

#headshot {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: grayscale(100);
    
}

#contact-container, #education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}

#contact-contents, #education-content{
    display: flex;
    flex-direction: column;
}

#main-content {
    margin: 15px;
}

div#main-content>h2{
    color:purple;
}

li {
    display: flex;
    gap: 20px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    color: white;
}

h2, h3 {
    font-weight: 500;
}

.skill-bar {
    width: 80%;
    height: 30%;
    background-color:whitesmoke;
    border-radius: 5px;
}

.skills {
    text-align: right;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    padding-right: 5px;
}

.java, .python, .html, .c {
    background-color: rgb(70, 4, 70);
}

.java{ 
width: 65%;
} 

.python {
width: 75%;
} 

.html {
width: 55%;
} 

.c {
width: 85%;
}